#map {
    position:absolute; 
    top:16vh; 
    bottom:0; 
    width:100%;
    padding-left: 15vw;
    }

    body{
        width: 100%;
    }
    

h1{
    text-align: center;
    background-color: blue;
}


#navbar{
    width: 100vw;
    height: 10vh;
    list-style-type: none;
    margin: 0;
    float: left;
    text-decoration: none;
    background-color: black;
    padding-bottom: 5vh;
}

#home{
    color: white;
    background-color: black;
}